<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>404</title>
</head>
<body class="w-screen h-screen flex flex-col justify-center items-center space-y-3 bg-gray-50">
    <h1 class="text-6xl font-semibold text-yellow-500">404</h1>
    <h3 class="text-3xl">Page not found</h3>
    <p>Sorry, the page you're looking for can't be found</p>
    <button class="text-white rounded-md bg-yellow-500 p-2"><a href="/">Go Home</a></button>
</body>
</html>