<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="bg-gray-700 fixed top-0 left-0 w-full">
        <nav class="flex items-center justify-between md:px-14 px-5 py-4">
            <a href="#" class="text-2xl font-semibold text-white">Shubh<span
                    class="font-semibold text-yellow-300">deep</span></a>
            <a href="#" class="rounded text-white hover:bg-yellow-400 font-semibold bg-yellow-300 px-3 py-2">LOGIN</a>
        </nav>
    </header>

    <div class="h-80 bg-gray-700">
        <div class="max-w-3xl m-auto md:w-full mt-16 flex flex-col space-y-7 w-10/12">
            <h2 class="text-white md:text-5xl text-3xl font-bold text-center mt-3">{%TITLE%}</h2>
            <img src="{%IMAGE_PLACEHOLDER%}"
                class="w-full h-96 object-cover">

            <div class="flex flex-col space-y-2">
                <h2 class="text-3xl font-semibold">❤️‍🔥A Look At</h2>
                <p class="font-normal text-lg text-justify leading-6 pb-10">{%DESCRIPTION%}</p>
            </div>
        </div>

    </div>
</body>